<div fxFlex fxLayout="row" fxLayoutAlign="center none">
  <mat-card class="account-settings-container">
    <div fxLayout="row" class="mat-card-header">
      <mat-card-title>{{ 'account_settings' | translate }}</mat-card-title>

      <a mat-icon-button aria-label="Close button" [routerLink]="['/', i18nService.currentLanguage.code, 'task']">
        <mat-icon>close</mat-icon>
      </a>
    </div>

    <mat-card-content>
      <div fxFlex fxLayout="row" fxLayout.lt-sm="column">
        <div fxFlex="1 0 40" fxFlex.lt-sm="100" fxLayout="column" fxLayoutAlign="center center">
          <img *ngIf="userFormModel.profilePictureUrl; else identicon" [src]="userFormModel.profilePictureUrl"
               alt="profile-picture" class="profile-picture"/>

          <ng-template #identicon>
            <svg [attr.data-jdenticon-value]="userFormModel.email" class="profile-picture"></svg>
          </ng-template>

          <form class="profile-picture-form">
            <div>
              <label>
                <input #profilePictureInput name="profilePicture" type="file" accept=".jpg, .jpeg, .png"
                       (click)="profilePictureInput.value = null; onProfilePictureFileChange(null)"
                       (change)="onProfilePictureFileChange($event)">
              </label>
            </div>

            <div>
              <button mat-raised-button type="submit" color="primary" (click)="onProfilePictureFormSubmit()"
                      [disabled]="!profilePictureFile">
                {{ 'upload_photo' | translate }}
              </button>
            </div>
          </form>
        </div>

        <div fxFlex="60" fxFlex.lt-sm="100">
          <form>
            <mat-form-field>
              <label>
                <input matInput
                       name="fullName"
                       type="text"
                       [(ngModel)]="userFormModel.fullName"
                       (blur)="onFullNameInputBlur()"
                       placeholder="{{ 'name' | translate }}"
                       maxlength="50"
                       required
                       notBlank/>
              </label>
            </mat-form-field>

            <mat-form-field>
              <label>
                <input matInput
                       name="email"
                       type="email"
                       [value]="userFormModel.email"
                       placeholder="{{ 'email' | translate }}"
                       disabled/>
              </label>
            </mat-form-field>
          </form>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
