<div fxFlex fxLayout="row" fxLayoutAlign="center none">
  <mat-card fxFlex="100" fxFlex.gt-sm="80">
    <div fxLayout="row" class="mat-card-header">
      <mat-card-title>{{ 'account_settings' | translate }}</mat-card-title>

      <a mat-icon-button aria-label="Close button" [routerLink]="['/', i18nService.currentLanguage.code, 'task']">
        <mat-icon>close</mat-icon>
      </a>
    </div>

    <mat-card-content>
      <div fxFlex fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex="100" fxFlex.gt-sm="35">

        </div>
        <div fxFlex="100" fxFlex.gt-sm="65">
          <form>
            <mat-form-field>
              <label>
                <input matInput
                       name="fullName"
                       type="text"
                       [(ngModel)]="userFormModel.fullName"
                       placeholder="{{ 'name' | translate }}"
                       maxlength="50"
                       required
                       notBlank/>
              </label>
            </mat-form-field>
          </form>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
