.account-settings-container {
  width: 100%;
  max-width: 800px;

  .profile-picture {
    max-width: 220px;
    max-height: 220px;
    padding: 16px;
  }

  .profile-picture-form {
    align-items: center;

    div:first-child {
      margin-bottom: 16px;
    }
  }
}
