#task_list {
  .mat-list-item {
    &:hover {
      background: rgba(0, 0, 0, .04)
    }

    mat-checkbox {
      margin-right: 16px;
    }

    #task_title {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
}
