<form #passwordChangeForm (ngSubmit)="onPasswordChangeFormSubmit()" passwordsMatch>
  <mat-form-field *ngIf="currentPasswordRequired">
    <label>
      <input matInput
             id="current_password_input"
             type="password"
             name="currentPassword"
             [(ngModel)]="currentPassword"
             #currentPasswordInput="ngModel"
             placeholder="{{ 'current_password' | translate }}"
             required
             notBlank>
    </label>
    <mat-error *ngIf="currentPasswordInput?.errors?.valid">
      {{ 'invalid_password' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <label>
      <input matInput
             id="new_password_input"
             type="password"
             name="newPassword"
             [(ngModel)]="newPassword"
             #newPasswordInput="ngModel"
             placeholder="{{ 'new_password' | translate }}"
             required
             notBlank>
    </label>
  </mat-form-field>

  <mat-form-field>
    <label>
      <input matInput
             id="new_password_repeat_input"
             type="password"
             name="newPasswordRepeat"
             [(ngModel)]="newPasswordRepeated"
             #newPasswordRepeatInput="ngModel"
             placeholder="{{ 'new_password_repeat' | translate }}"
             required
             notBlank>
    </label>

    <mat-error *ngIf="newPasswordInput?.errors?.passwordsMatch && newPasswordRepeatInput?.errors?.passwordsMatch">
      {{ 'passwords_not_match' | translate }}
    </mat-error>
  </mat-form-field>

  <div fxFlex fxFlexAlign="end">
    <button mat-raised-button color="primary" type="submit" [style.min-width]="submitButtonMinWidth">
      {{ submitButtonLabel }}
    </button>
  </div>
</form>
