mat-card-content {
  form {
    display: flex;
    flex-direction: column;
  }

  .comment-wrapper {
    padding: 8px 0;

    .comment-header {
      display: flex;
      flex-direction: row;
      min-height: 28px;

      .header-buttons {
        padding-left: 16px;

        a {
          margin-left: 8px;
          overflow: hidden;
        }
      }
    }

    .comment-date-wrapper {
      flex-grow: 1;
      padding-bottom: 8px;

      .comment-date {
        color: rgba(0, 0, 0, .54);
      }
    }
  }

  .divider-wrapper {
    padding-bottom: 16px;
  }
}
