<form #tagForm="ngForm" class="tag-form" (ngSubmit)="onTagFormSubmit()">
  <mat-form-field>
    <label>
      <input matInput
             name="name"
             type="text"
             maxlength="50"
             placeholder="{{ 'new_tag' | translate }}"
             [(ngModel)]="tagFormModel.name"
             (ngModelChange)="onTagFormModelChange()"
             notBlank/>
    </label>
  </mat-form-field>

  <button mat-mini-fab color="primary" type="submit" [disabled]="!tagFormSubmitEnabled">
    <mat-icon>done</mat-icon>
  </button>
</form>

<mat-list id="tag_list">
  <mat-list-item *ngFor="let tag of tags"
                 [routerLink]="[i18nService.currentLanguage.code, 'tag', tag.id]"
                 [ngClass]="'tag-' + tag.id"
                 [class.mat-list-item-selected]="isRouterLinkActive('tag/' + tag.id)">
    <mat-icon mat-list-icon [style.color]="tag.color">label</mat-icon>

    <div class="list-row tag-list-row">
      <div class="list-column name-column">
        <span>{{ tag.name }}</span>
      </div>
    </div>
  </mat-list-item>
</mat-list>
