.signin-container {
  display: flex;
  flex-direction: row;

  mat-card {
    display: flex;
    flex-direction: column;
    min-width: 320px;

    .signin-alert {
      width: 100%;
    }

    .button-sign-in {
      min-width: 225px;
      text-align: left;
    }

    .button-sign-in-google {
      padding-left: 8px;
      margin-bottom: 8px;

      .logo-google {
        transform: scale(2.0);
        margin-left: 2px;
        margin-right: 10px;
      }
    }

    .button-sign-in-facebook {
      padding-left: 10px;
      margin-bottom: 8px;
      background-color: #4267b2;
      color: #ffffff;

      .logo-facebook {
        margin-right: 10px;
      }
    }

    .button-sign-in-github {
      padding-left: 10px;
      margin-bottom: 8px;
      background-color: #000000;
      color: #ffffff;

      .logo-github {
        margin-right: 10px;
      }
    }

    .button-sign-in-vk {
      padding-left: 8px;
      background-color: #467fc1;
      color: #ffffff;

      .logo-vk {
        transform: scale(2.8);
        margin-left: 2px;
        margin-right: 10px;
      }
    }
  }
}
