mat-card {
  .mat-card-header {
    a {
      margin-bottom: 8px;
    }
  }

  .mat-card-content {
    form {
      .deadline-container {
        display: flex;
        flex-direction: column;
        padding-bottom: 1.25em;

        .deadline-form-field-container {
          display: flex;
          flex-direction: row;

          .deadline-time-checkbox {
            padding: 1.1em 0;
            color: rgba(0, 0, 0, 0.54);
            margin-left: 16px;
          }

          .deadline-date-form-field {
            max-width: 160px;
          }

          .deadline-time-form-field {
            max-width: 80px;
            margin-left: 8px;

            ngx-material-timepicker-toggle {
              position: relative;
              bottom: -4px;

              mat-icon {
                color: rgba(0, 0, 0, .54);
                margin-top: -2px;
                height: 20px;
              }
            }

            button {
              min-width: 82px;
            }
          }
        }

        .deadline-error-container {
          margin-top: -15px;

          mat-error {
            font-size: 75%;
          }
        }
      }

      .deadline-hot-button-container {
        padding-bottom: 20px;

        button {
          margin-right: 8px;
        }
      }
    }
  }

  .task-comments-container {
    padding-top: 8px;
  }
}
