<mat-nav-list>
  <mat-list>
    <a mat-list-item [routerLink]="[i18nService.currentLanguage.code, 'task']" [fragment]="TaskGroup.INBOX.value"
       [class.mat-list-item-selected]="isRouterLinkActive('task', TaskGroup.INBOX.value)"
       (click)="onListItemClick(TaskGroup.INBOX)">
      <mat-icon mat-list-icon>inbox</mat-icon>
      <span matLine>{{ 'inbox' | translate }}</span>
      <span *ngIf="hasTasks(TaskGroup.INBOX) | async" [matBadge]="getTaskCount(TaskGroup.INBOX) | async | number"
            matBadgeOverlap="true" class="right-margin-12"></span>
    </a>

    <mat-divider></mat-divider>

    <ng-container>
      <h3 matSubheader>{{ 'scheduled_for' | translate }}</h3>

      <a mat-list-item [routerLink]="[i18nService.currentLanguage.code, 'task']" [fragment]="TaskGroup.TODAY.value"
         [class.mat-list-item-selected]="isRouterLinkActive('task', TaskGroup.TODAY.value)"
         (click)="onListItemClick(TaskGroup.TODAY)">
        <mat-icon mat-list-icon class="mat-date-icon">
          calendar_today
          <span>{{ todayDate }}</span>
        </mat-icon>
        <p matLine>{{ 'scheduled_for_today' | translate }}</p>
        <span *ngIf="hasTasks(TaskGroup.TODAY) | async" [matBadge]="getTaskCount(TaskGroup.TODAY) | async | number"
              matBadgeOverlap="true" class="right-margin-12"></span>
      </a>

      <a mat-list-item [routerLink]="[i18nService.currentLanguage.code, 'task']" [fragment]="TaskGroup.TOMORROW.value"
         [class.mat-list-item-selected]="isRouterLinkActive('task', TaskGroup.TOMORROW.value)"
         (click)="onListItemClick(TaskGroup.TOMORROW)">
        <mat-icon mat-list-icon class="mat-date-icon">
          calendar_today
          <span>{{ tomorrowDate }}</span>
        </mat-icon>
        <p matLine>{{ 'scheduled_for_tomorrow' | translate }}</p>
        <span *ngIf="hasTasks(TaskGroup.TOMORROW) | async" [matBadge]="getTaskCount(TaskGroup.TOMORROW) | async | number"
              matBadgeOverlap="true" class="right-margin-12"></span>
      </a>

      <a mat-list-item [routerLink]="[i18nService.currentLanguage.code, 'task']" [fragment]="TaskGroup.WEEK.value"
         [class.mat-list-item-selected]="isRouterLinkActive('task', TaskGroup.WEEK.value)"
         (click)="onListItemClick(TaskGroup.WEEK)">
        <mat-icon mat-list-icon class="mat-date-icon">
          calendar_today
          <span>W</span>
        </mat-icon>
        <p matLine>{{ 'scheduled_for_week' | translate }}</p>
        <span *ngIf="hasTasks(TaskGroup.WEEK) | async" [matBadge]="getTaskCount(TaskGroup.WEEK) | async | number"
              matBadgeOverlap="true" class="right-margin-12"></span>
      </a>

      <a mat-list-item [routerLink]="[i18nService.currentLanguage.code, 'task']" [fragment]="TaskGroup.SOME_DAY.value"
         [class.mat-list-item-selected]="isRouterLinkActive('task', TaskGroup.SOME_DAY.value)"
         (click)="onListItemClick(TaskGroup.SOME_DAY)">
        <mat-icon mat-list-icon class="mat-date-icon">
          calendar_today
          <span>?</span>
        </mat-icon>
        <p matLine>{{ 'scheduled_for_some_day' | translate }}</p>
        <span *ngIf="hasTasks(TaskGroup.SOME_DAY) | async" [matBadge]="getTaskCount(TaskGroup.SOME_DAY) | async | number"
              matBadgeOverlap="true" class="right-margin-12"></span>
      </a>
    </ng-container>

    <mat-divider></mat-divider>

    <a mat-list-item [routerLink]="[i18nService.currentLanguage.code, 'task']" [fragment]="TaskGroup.ALL.value"
       [class.mat-list-item-selected]="isRouterLinkActive('task', TaskGroup.ALL.value)"
       (click)="onListItemClick(TaskGroup.ALL)">
      <mat-icon mat-list-icon>assignment</mat-icon>
      <p matLine>{{ 'all_tasks' | translate }}</p>
      <span *ngIf="hasTasks(TaskGroup.ALL) | async" [matBadge]="getTaskCount(TaskGroup.ALL) | async | number"
            matBadgeOverlap="true" class="right-margin-12"></span>
    </a>

    <mat-divider></mat-divider>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="sidenav-expansion-panel-header">
          <div class="sidenav-expansion-panel-header-content">
            <mat-icon>label</mat-icon>
            <span>{{ 'tags' | translate }}</span>
          </div>
        </mat-expansion-panel-header>

        <app-tags></app-tags>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header class="sidenav-expansion-panel-header">
          <div class="sidenav-expansion-panel-header-content">
            <mat-icon>list</mat-icon>
            <span>{{ 'task_lists' | translate }}</span>
          </div>
        </mat-expansion-panel-header>

        <app-task-lists></app-task-lists>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-list>
</mat-nav-list>
