.sign-container {
  display: flex;
  flex-direction: row;

  mat-card {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    margin-bottom: 16px;

    form {
      button[type='submit'] {
        margin-top: 16px;
      }
    }

    .sign-divider {
      display: flex;
      flex-direction: row;
      padding-top: 16px;
      padding-bottom: 16px;

      .sign-divider-line {
        border-top: 1px solid rgba(0, 0, 0, 0.42);
        width: 95px;
        height: 0;
        margin-top: 8px
      }

      .sign-divider-label {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.65);
        width: 35px;
        text-align: center;
      }
    }

    .sign-alert {
      width: 100%;
      max-width: 352px;
    }

    .button-sign {
      min-width: 225px;
      text-align: center;
    }

    .button-sign-with {
      min-width: 225px;
      text-align: left;
    }

    .button-sign-with-google {
      padding-left: 8px;
      margin-bottom: 8px;

      .logo-google {
        transform: scale(2.0);
        margin-left: 2px;
        margin-right: 10px;
      }
    }

    .button-sign-with-facebook {
      padding-left: 10px;
      margin-bottom: 8px;
      background-color: #4267b2;
      color: #ffffff;

      .logo-facebook {
        margin-right: 10px;
      }
    }

    .button-sign-with-github {
      padding-left: 10px;
      margin-bottom: 8px;
      background-color: #000000;
      color: #ffffff;

      .logo-github {
        margin-right: 10px;
      }
    }

    .button-sign-with-vk {
      padding-left: 8px;
      background-color: #467fc1;
      color: #ffffff;

      .logo-vk {
        transform: scale(2.8);
        margin-left: 2px;
        margin-right: 10px;
      }
    }

    mat-card-footer {
      font-size: 16px;
      color: rgba(0, 0, 0, 0.65);
      text-align: center;
      padding-bottom: 16px;
    }
  }
}
