<div mat-dialog-title fxFlex fxLayout="row">
  <span>{{ 'account_settings' | translate }}</span>

  <button mat-icon-button aria-label="Close button" (click)="onCloseButtonClick()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <div fxFlex fxLayout="row" fxLayout.lt-sm="column">
    <div fxFlex="1 0 40" fxFlex.lt-sm="100" fxLayout="column" fxLayoutAlign="start center"
         class="profile-picture-container">
      <img *ngIf="userFormModel.profilePictureUrl; else identicon" [src]="userFormModel.profilePictureUrl"
           alt="profile-picture" class="profile-picture"/>

      <ng-template #identicon>
        <svg [attr.data-jdenticon-value]="userFormModel.email" class="profile-picture"></svg>
      </ng-template>

      <form fxFlex fxLayout="column" class="profile-picture-form">
        <div>
          <label>
            <input #profilePictureInput name="profilePicture" type="file" accept=".jpg, .jpeg, .png"
                   (click)="profilePictureInput.value = null; onProfilePictureFileChange(null)"
                   (change)="onProfilePictureFileChange($event)">
          </label>

          <mat-error *ngIf="profilePictureFile?.size > profilePictureFileMaxSize">
            {{ 'file_too_large' | translate | messageFormat: profilePictureFileMaxSizeInMegabytes }}
          </mat-error>
        </div>

        <button mat-raised-button type="submit" color="primary" (click)="onProfilePictureFormSubmit()"
                [disabled]="!isValidProfilePictureFileSelected()">
          {{ 'upload_photo' | translate }}
        </button>
      </form>
    </div>

    <div fxFlex="60" fxFlex.lt-sm="100" fxLayout="column">
      <form fxFlex fxLayout="column">
        <mat-form-field>
          <label>
            <input matInput
                   name="fullName"
                   type="text"
                   [(ngModel)]="userFormModel.fullName"
                   (blur)="onFullNameInputBlur()"
                   placeholder="{{ 'name' | translate }}"
                   maxlength="50"
                   required
                   notBlank
                   cdkFocusInitial/>
          </label>
        </mat-form-field>

        <mat-form-field>
          <label>
            <input matInput
                   name="email"
                   type="email"
                   [value]="userFormModel.email"
                   placeholder="{{ 'email' | translate }}"
                   disabled/>
          </label>
        </mat-form-field>
      </form>

      <mat-card class="change-password-container">
        <div class="mat-card-header">
          <div class="mat-card-title change-password-title">{{ 'password_change' | translate }}</div>
        </div>

        <mat-card-content>
          <app-change-password #changePasswordComponent (passwordChange)="onPasswordChange($event)">
          </app-change-password>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
