<h1 mat-dialog-title>{{ data.title }}</h1>

<div mat-dialog-content>
  <color-circle [color]="color" [colors]="COLORS" (onChangeComplete)="onColorChangeComplete($event)" width="210">
  </color-circle>
</div>

<div mat-dialog-actions fxLayout="row" fxFlexAlign="end" class="dialog-buttons">
  <button mat-raised-button id="cancel_button" (click)="onCancelButtonClick()">{{ 'cancel' | translate }}</button>
  <button mat-raised-button id="ok_button" color="primary" (click)="onOkButtonClick()" cdkFocusInitial>OK</button>
</div>
