@import "src/styles/colors";
@import "src/styles/spacing";
@import "src/styles/display";
@import "src/styles/flex";

.task-groups {
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid $color-black-42;
  }

  .separator:not(:empty)::after {
    margin-left: .25em;
  }

  .task-group-name {
    min-width: 118px;
  }
}
