@import "src/colors";
@import "src/spacing";
@import "src/text";
@import "src/borders";

.task-list-item {
  &:hover {
    background: $color-black-04;
  }

  mat-checkbox {
    ::ng-deep .mat-checkbox-ripple {
      display: none;
    }
  }

  .task-list-row {
    cursor: pointer;
  }
}
