.login-container {
  display: flex;
  flex-direction: row;

  mat-card {
    display: flex;
    flex-direction: column;
    min-width: 320px;

    .button-login {
      min-width: 220px;
      text-align: left;
    }

    .button-login-google {
      padding-left: 8px;
      margin-bottom: 8px;

      .logo-google {
        transform: scale(1.5);
        margin-top: -2px;
        margin-right: 12px;
      }
    }

    .button-login-facebook {
      padding-left: 10px;
      background-color: #4267b2;
      color: #ffffff;

      .logo-facebook {
        width: 20px;
        height: 20px;
        margin-right: 14px;
      }
    }
  }
}
