<form #taskListForm="ngForm" class="task-list-form" (ngSubmit)="onTaskListFormSubmit()">
  <mat-form-field>
    <label>
      <input matInput
             name="name"
             type="text"
             maxlength="255"
             placeholder="{{ 'new_task_list' | translate }}"
             [(ngModel)]="taskListFormModel.name"
             (ngModelChange)="onTaskListFormModelNameChange()"/>
    </label>
  </mat-form-field>

  <button mat-mini-fab color="primary" type="submit" [disabled]="!taskListFormSubmitEnabled">
    <mat-icon>done</mat-icon>
  </button>
</form>

<mat-list id="task_list_list">
  <mat-list-item *ngFor="let taskList of taskLists"
                 [routerLink]="[i18nService.currentLanguage.code, 'task-list', taskList.id]"
                 [ngClass]="'task-list-' + taskList.id"
                 [class.mat-list-item-selected]="isRouterLinkActive('task-list/' + taskList.id)">
    <div class="list-row task-list-list-row">
      <div class="list-column name-column">
        <span>{{ taskList.name }}</span>
      </div>
    </div>
  </mat-list-item>
</mat-list>
