form.task-list-form {
  display: flex;
  flex-direction: row;

  mat-form-field {
    width: 100%;
  }

  button {
    margin-right: 8px;
  }
}

.task-list-list-row {
  .name-column {
    display: flex;
    align-items: center;

    span {
      width: 197px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
