@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "colors";

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  min-height: 100vh;
  background-color: #f5f5f5;

  form {
    font-size: 16px;

    .form-group {
      border: 1px solid rgba(0, 0, 0, .2);
      border-radius: 4px;
      margin-bottom: 16px;

      .form-group-header {
        align-content: center;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 8px 8px 8px 16px;
        color: $color-black-54;

        .form-group-title {
          flex: 1 1 auto;
        }
      }

      .form-group-content {
        padding: 8px;
      }
    }
  }

  .mat-micro-fab {
    width: 24px;
    height: 24px;

    .mat-icon {
      font-size: 18px;
      margin-top: -12px;
      margin-left: 3px;
    }
  }

  .form-buttons {
    button {
      min-width: 103px;
      margin-right: 8px;
    }
  }

  .content-align-center {
    justify-content: center;
    align-items: center;
  }

  .cdk-overlay-container {
    .cdk-overlay-pane.mat-datepicker-popup {
      max-height: none;
    }
  }

  .timepicker {
    .timepicker__header {
      background-color: $color-primary !important;
    }

    .timepicker__body {
      .clock-face__clock-hand {
        background-color: $color-primary !important;

        &::after {
          background-color: $color-primary !important;
        }

        &::before {
          border-color: $color-primary !important;
        }
      }

      .clock-face__number {
        > span.active {
          background-color: $color-primary !important;
        }
      }
    }
  }

  .right-margin-8 {
    margin-right: 8px;
  }

  mat-nav-list mat-list {
    mat-list-item.cdk-drag-placeholder {
      display: none !important;
    }

    mat-accordion {
      mat-expansion-panel {
        form {
          display: flex;
          flex-direction: row;

          mat-form-field {
            width: 100%;
          }

          button {
            margin-right: 8px !important;
          }
        }

        .mat-expansion-panel-content > .mat-expansion-panel-body {
          padding-right: 0 !important;
        }

        mat-list mat-list-item .list-row {
          .name-column {
            display: flex;
            align-items: center;

            span {
              width: 230px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }

  .mat-list-item.selected {
    background: rgba(0, 0, 0, .12) !important;
  }

  .non-selectable-list-item {
    background-color: white !important;
    cursor: default !important;
  }

  .list-row {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  color-block {
    .block-body {
      .block-swatches {
        .swatch {
          width: 28px !important;
          height: 28px !important;
        }
      }

      color-editable-input {
        input {
          height: 28px !important;
          font-size: 14px !important;
        }
      }
    }
  }

  mat-card {
    .mat-card-header {
      .task-list-icon {
        height: 100%;
        line-height: 44px;
        width: 40px;
        text-align: center;
      }

      .mat-card-title {
        margin-top: 10px;
        margin-bottom: 15px;
        flex-grow: 1;

        form {
          mat-form-field {
            width: 100%;
          }
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
    }
  }

  .progress-spinner-dialog .mat-dialog-container {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.0);
  }

  mat-list-item.task-list-item {
    .mat-list-item-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      padding: 8px 0 0 8px !important;
      height: inherit;
      min-width: 0;

      .drag-handle {
        margin-right: 8px;
        cursor: move;
      }

      .task-list-row {
        align-items: center;
        height: 100%;
        min-width: 0;

        .list-column {
          margin-right: 8px;
          overflow: hidden;

          span {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        .title-column {
          flex-grow: 1;
        }

        .deadline-column {
          text-align: right;
          min-width: 24px;
        }
      }
    }

    @media (max-width: 599px) {
      .mat-list-item-content {
        padding: 8px 0 0 0 !important;
      }
    }
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
    opacity: 1;
    background-color: white;
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drop-list-dragging mat-list-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .ngx-toastr {
    padding: 20px 20px 20px 50px !important;
  }

  .privacy-policy-link {
    color: inherit !important;
  }
}
