@import "../../../../variables.scss";

mat-card-content {
  form {
    display: flex;
    flex-direction: column;
  }

  .comment-wrapper {
    padding: 8px 0;

    .comment-header {
      display: flex;
      flex-direction: row;
      min-height: 28px;

      .comment-date-wrapper {
        flex-grow: 1;
        padding: 8px 0;
        color: $color-gray-light;

        .comment-date-annotation {
          font-style: italic;
        }
      }

      .comment-menu-wrapper {
        padding-left: 16px;
        padding-bottom: 8px;
      }
    }
  }

  .divider-wrapper {
    padding-bottom: 16px;
  }
}
