<mat-card-content *ngIf="newCommentFormModel">
  <form #newCommentForm="ngForm" (ngSubmit)="onNewCommentFormSubmit()">
    <mat-form-field>
      <label>
          <textarea matInput
                    id="new_comment"
                    name="newComment"
                    [(ngModel)]="newCommentFormModel.commentText"
                    (ngModelChange)="onNewCommentModelChange()"
                    (keydown)="onNewCommentInputKeyDown($event)"
                    placeholder="{{ 'leave_comment' | translate }}"
                    maxlength="10000">
          </textarea>
      </label>
    </mat-form-field>

    <div fxFlex fxFlexAlign="end">
      <button mat-raised-button type="submit" color="primary" [disabled]="!newCommentFormEnabled">
        {{ 'post' | translate }}
      </button>
    </div>
  </form>
</mat-card-content>

<div *ngIf="comments" infiniteScroll [infiniteScrollDistance]="1" (scrolled)="onCommentListScroll()">
  <mat-card-content *ngFor="let comment of comments" [className]="'comment-' + comment.id">
    <div class="divider-wrapper">
      <mat-divider></mat-divider>
    </div>

    <div class="comment-wrapper" (mouseover)="onCommentContainerMouseOver(comment)"
         (mouseout)="onCommentContainerMouseOut(comment)">
      <div class="comment-header">
        <div class="comment-date-wrapper">
          <span [matTooltip]="comment.createdAt | localizedDate: 'medium'">
            {{ getRelativeCommentDate(comment) }}
          </span>

          <span *ngIf="comment.updatedAt" class="comment-date-annotation">
            ({{ 'changed' | translate }})
          </span>
        </div>

        <div class="comment-menu-wrapper">
          <button mat-icon-button aria-label="Task comment menu" [matMenuTriggerFor]="taskCommentMenu">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #taskCommentMenu="matMenu">
            <button mat-menu-item (click)="onEditCommentButtonClick(comment)">
              {{ 'edit' | translate }}
            </button>

            <button mat-menu-item (click)="onDeleteCommentButtonClick(comment)">
              {{ 'delete' | translate }}
            </button>
          </mat-menu>
        </div>
      </div>

      <div class="comment-body">
        <form *ngIf="editCommentFormModel?.id == comment.id" (ngSubmit)="onEditCommentFormSubmit()">
          <mat-form-field>
            <label>
                <textarea matInput
                          id="edit_comment"
                          name="editComment"
                          [(ngModel)]="editCommentFormModel.commentText"
                          (ngModelChange)="onEditCommentModelChange()"
                          maxlength="10000">
                </textarea>
            </label>
          </mat-form-field>

          <div class="form-buttons">
            <button mat-raised-button type="submit" color="primary" [disabled]="!editCommentFormEnabled">
              {{ 'post' | translate }}
            </button>

            <button mat-raised-button (click)="onCancelEditCommentButtonClick()">
              {{ 'cancel' | translate }}
            </button>
          </div>
        </form>

        <span *ngIf="editCommentFormModel?.id != comment.id" class="comment-text">{{ comment.commentText }}</span>
      </div>
    </div>
  </mat-card-content>
</div>
