@import "../../../../colors.scss";
@import "../../../../spacing.scss";
@import "../../../../text.scss";
@import "../../../../borders.scss";

.task-list-item {
  &:hover {
    background: $color-black-04;
  }

  mat-checkbox {
    ::ng-deep .mat-checkbox-ripple {
      display: none;
    }
  }

  .task-list-row {
    cursor: pointer;
  }
}
