<div fxFlex fxLayout="row" fxLayoutAlign="center none">
  <mat-card class="admin-area-container">
    <div fxLayout="row" class="mat-card-header">
      <mat-card-title>{{ 'admin_area' | translate }}</mat-card-title>

      <a mat-icon-button aria-label="Close button" [routerLink]="['/', i18nService.currentLanguage.code, 'task']">
        <mat-icon>close</mat-icon>
      </a>
    </div>

    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="{{ 'users' | translate }}">
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="userDataSource" class="user-table">
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef>ID</th>
                  <td mat-cell *matCellDef="let element" class="cell-id">{{ element.id }}</td>
                </ng-container>

                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef>{{ 'email' | translate }}</th>
                  <td mat-cell *matCellDef="let element" class="cell-email">{{ element.email }}</td>
                </ng-container>

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>{{ 'name' | translate }}</th>
                  <td mat-cell *matCellDef="let element" class="cell-name">{{ element.fullName }}</td>
                </ng-container>

                <ng-container matColumnDef="registrationTime">
                  <th mat-header-cell *matHeaderCellDef>{{ 'registration_time' | translate }}</th>
                  <td mat-cell *matCellDef="let element" class="cell-registration-time">
                    {{ element.createdAt | localizedDate: 'medium' }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="profilePicture">
                  <th mat-header-cell *matHeaderCellDef>{{ 'picture' | translate }}</th>
                  <td mat-cell *matCellDef="let element" class="cell-profile-picture">
                    {{ element.profilePictureUrl }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="admin">
                  <th mat-header-cell *matHeaderCellDef>{{ 'admin' | translate }}</th>
                  <td mat-cell *matCellDef="let element" class="cell-admin">{{ element.admin ? '✓' : '' }}</td>
                </ng-container>

                <ng-container matColumnDef="blocked">
                  <th mat-header-cell *matHeaderCellDef>{{ 'blocked' | translate }}</th>
                  <td mat-cell *matCellDef="let element" class="cell-blocked">{{ element.enabled ? '' : '✓' }}</td>
                </ng-container>

                <ng-container matColumnDef="actions" sticky>
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element" class="cell-actions">
                    <button *ngIf="element.enabled"
                            mat-icon-button
                            color="warn"
                            matTooltip="{{ 'block_user' | translate }}"
                            (click)="onBlockUserButtonClick(element)"
                            [disabled]="element.id === authenticatedUser.id">
                      <mat-icon>do_not_disturb_on</mat-icon>
                    </button>

                    <button *ngIf="!element.enabled"
                            mat-icon-button
                            color="primary"
                            matTooltip="{{ 'unblock_user' | translate }}"
                            (click)="onUnblockUserButtonClick(element)"
                            [disabled]="element.id === authenticatedUser.id">
                      <mat-icon>do_not_disturb_off</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="userColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: userColumns;"></tr>
              </table>

              <mat-paginator #userPaginator
                             [length]="totalNumberOfUsers"
                             [pageSizeOptions]="[10, 20]"
                             showFirstLastButtons
                             aria-label="Select page of users">
              </mat-paginator>
            </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
