.admin-area-container {
  width: 100%;
  max-width: 960px;

  .mat-elevation-z8 {
    margin: 16px;
    overflow-x: scroll;

    .mat-table {
      width: 100%;

      th.mat-header-cell:not(:last-of-type), td.mat-cell:not(:last-of-type), td.mat-footer-cell:not(:last-of-type) {
        padding-right: 16px;
      }

      th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
        display: table-cell;
        word-wrap: initial;
        line-break: unset;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      tr.mat-header-row, tr.mat-row, tr.mat-footer-row {
        display: table-row;
      }

      td.cell-profile-picture {
        max-width: 300px;
      }
    }
  }
}
