<mat-card>
  <div fxLayout="row" class="mat-card-header">
    <div class="mat-card-title">
      <span class="cursor-default">
        {{ title | translate }}
      </span>
    </div>
  </div>

  <app-new-task-form *ngIf="loaded"
                     [taskDeadline]="taskDeadline"
                     [taskStatus]="taskStatus"
                     (taskCreate)="onTaskCreate($event)"></app-new-task-form>

  <mat-card-content>
    <app-task-list [tasks]="tasks" [loading]="loading" (scrolled)="onTaskListScroll($event)"></app-task-list>
  </mat-card-content>
</mat-card>
