<mat-card>
  <div fxLayout="row" class="mat-card-header">
    <div class="mat-card-title">
      <span class="cursor-default">
        {{ title | translate }}
      </span>
    </div>
  </div>

  <app-new-task-form *ngIf="loaded"
                     [taskDeadline]="taskDeadline"
                     [taskStatus]="taskStatus"
                     (taskCreate)="onTaskCreate($event)"></app-new-task-form>

  <mat-card-content>
    <app-tasks-for-week *ngIf="tasksForWeek" [loading]="loading">
    </app-tasks-for-week>
    <app-tasks *ngIf="!tasksForWeek" [tasks]="tasks" [loading]="loading" (scrolled)="onTaskListScroll($event)">
    </app-tasks>
  </mat-card-content>
</mat-card>
