<mat-card>
  <mat-card-title>{{ title | translate }}</mat-card-title>

  <form #taskForm="ngForm" (ngSubmit)="onTaskFormSubmit()">
    <mat-form-field>
      <label>
        <input matInput
               type="text"
               name="title"
               [(ngModel)]="formModel.title"
               placeholder="{{ 'new_task' | translate }}"
               maxlength="255"
               required
               notBlank>
      </label>
      <button type="submit" hidden="hidden">Submit</button>
    </mat-form-field>
  </form>

  <mat-card-content>
    <app-task-list [tasks]="tasks" (taskListScroll)="onTaskListScroll()"></app-task-list>
  </mat-card-content>
</mat-card>
