.task-list-list-row {
  justify-content: space-between;
  min-height: 40px;

  .name-column {
    display: flex;
    align-items: center;

    span {
      width: 181px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .menu-trigger-column {
    margin-left: auto;
  }
}
