.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    .space-filler {
      flex: 1 1 auto;
    }

    .profile-info-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 16px;

      img.avatar {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 8px;
      }
    }
  }

  main {
    flex: 1;
    padding-top: 16px;

    > *:not(router-outlet) {
      display: block;
      flex: 1;
    }
  }

  footer {
    margin-top: auto;
    padding: 1rem 16px 1rem 16px;

    .language-switcher {
      float: right;

      a {
        min-width: 32px;
      }
    }
  }
}
