.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
    padding-top: 16px;

    > *:not(router-outlet) {
      display: block;
      flex: 1;
    }
  }

  footer {
    margin-top: auto;
    padding: 1rem 16px 1rem 16px;

    .language-switcher {
      float: right;

      a {
        min-width: 32px;
      }
    }
  }
}
