.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    .space-filler {
      flex: 1 1 auto;
    }

    mat-toolbar {
      .application-title {
        font-size: inherit;
      }

      button {
        padding-left: 8px;
        padding-right: 8px;
      }

      .profile-info-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 16px;

        .avatar-button {
          min-width: 40px;
          max-width: 40px;
          padding: 0;
        }

        .avatar {
          width: 40px;
          height: 40px;
        }

        .avatar.round {
          border-radius: 50%;
        }
      }
    }
  }

  mat-sidenav-container {
    display: flex;
    flex-direction: column;
    flex: 1;

    mat-sidenav {
      min-width: 320px;
    }

    mat-sidenav-content {
      display: flex;
      flex-direction: column;
      flex: 1;

      main {
        flex: 1;
        padding-top: 16px;

        > *:not(router-outlet) {
          display: block;
          flex: 1;
        }
      }

      footer {
        margin-top: auto;
        padding: 1rem 16px 1rem 16px;
      }
    }
  }
}
