<div class="page">
  <header>
    <mat-toolbar color="primary">
      <button mat-icon-button *ngIf="showSidenav" (click)="onSidenavToggleButtonClick()">
        <mat-icon>menu</mat-icon>
      </button>

      <span>{{ title }}</span>
      <span class="space-filler"></span>

      <div class="right-margin-8">
        <button mat-button [matMenuTriggerFor]="languages">
          {{ currentLanguage.name }}
          <mat-icon>arrow_drop_down</mat-icon>
        </button>

        <mat-menu #languages="matMenu">
          <button mat-menu-item *ngFor="let lang of availableLanguages" (click)="onLanguageButtonClick(lang)">
            {{ lang.name }}
          </button>
        </mat-menu>
      </div>

      <div *ngIf="authenticatedUser" class="profile-info-container" [class.right-margin-8]="mobileQuery.matches">
        <button mat-button fxShow="true" fxHide.lt-sm="true" [matMenuTriggerFor]="profileActions">
          <img *ngIf="authenticatedUser.profilePictureUrl; else identicon" [src]="authenticatedUser.profilePictureUrl"
               alt="avatar" class="avatar round"/>

          <ng-template #identicon>
            <svg [attr.data-jdenticon-value]="authenticatedUser.email" class="avatar"></svg>
          </ng-template>

          {{ authenticatedUser.fullName }}
        </button>

        <button mat-button
                fxHide="true"
                fxShow.lt-sm="true"
                class="avatar-button"
                [style.border-radius]="authenticatedUser.profilePictureUrl ? '50%' : '0'"
                [matMenuTriggerFor]="profileActions">
          <img *ngIf="authenticatedUser.profilePictureUrl; else identicon" [src]="authenticatedUser.profilePictureUrl"
               alt="avatar" class="avatar round"/>

          <ng-template #identicon>
            <svg [attr.data-jdenticon-value]="authenticatedUser.email" class="avatar"></svg>
          </ng-template>
        </button>

        <mat-menu #profileActions="matMenu">
          <a mat-menu-item id="settings_menu_item" [routerLink]="['/', i18nService.currentLanguage.code, 'account']">
            {{ 'settings' | translate }}
          </a>
          <a *ngIf="authenticatedUser.admin"
             mat-menu-item id="admin_area_menu_item"
             [routerLink]="['/', i18nService.currentLanguage.code, 'admin']">
            {{ 'admin_area' | translate }}
          </a>
          <button mat-menu-item id="sign_out_menu_item" (click)="onSignOutButtonClick()">
            {{ 'sign_out' | translate }}
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
  </header>

  <mat-sidenav-container autosize>
    <mat-sidenav #sidenav
                 *ngIf="showSidenav"
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [opened]="!mobileQuery.matches">
      <app-sidenav-menu></app-sidenav-menu>
    </mat-sidenav>

    <mat-sidenav-content>
      <main fxLayout="row" class="zero">
        <div fxFlex="80" fxFlexOffset="10">
          <router-outlet></router-outlet>
        </div>

        <div fxFlex></div>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
