<div class="page">
  <header>
    <mat-toolbar color="primary">
      <button mat-icon-button *ngIf="principal" (click)="onSidenavToggleButtonClick()">
        <mat-icon>menu</mat-icon>
      </button>

      <span>{{ title }}</span>
      <span class="space-filler"></span>
      <div *ngIf="principal" class="profile-info-container">
        <img [src]="principal.getPicture()" alt="avatar" class="avatar"/>
        <button mat-button [matMenuTriggerFor]="profileActions">{{ principal.getName() }}</button>

        <mat-menu #profileActions="matMenu">
          <button mat-menu-item id="sign_out_menu_item" (click)="onSignOutButtonClick()">
            {{ 'sign_out' | translate }}
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
  </header>

  <mat-sidenav-container autosize>
    <mat-sidenav #sidenav
                 *ngIf="principal"
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [opened]="!mobileQuery.matches">
      <mat-nav-list>
        <mat-list>
          <mat-list-item>
            <mat-icon mat-list-icon>inbox</mat-icon>
            <p matLine>{{ 'inbox' | translate }}</p>
          </mat-list-item>

          <mat-divider></mat-divider>

          <ng-container>
            <h3 matSubheader>{{ 'scheduled_for' | translate }}</h3>

            <mat-list-item>
              <mat-icon mat-list-icon class="mat-date-icon">
                calendar_today
                <span>{{ todayDate }}</span>
              </mat-icon>
              <p matLine>{{ 'scheduled_for_today' | translate }}</p>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon class="mat-date-icon">
                calendar_today
                <span>{{ tomorrowDate }}</span>
              </mat-icon>
              <p matLine>{{ 'scheduled_for_tomorrow' | translate }}</p>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon class="mat-date-icon">
                calendar_today
                <span>W</span>
              </mat-icon>
              <p matLine>{{ 'scheduled_for_this_week' | translate }}</p>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon class="mat-date-icon">
                calendar_today
                <span>?</span>
              </mat-icon>
              <p matLine>{{ 'scheduled_for_some_day' | translate }}</p>
            </mat-list-item>
          </ng-container>
        </mat-list>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <main fxLayout="row" class="zero">
        <div fxFlex="70" fxFlexOffset="15">
          <router-outlet></router-outlet>
        </div>

        <div fxFlex></div>
      </main>

      <footer>
        <div class="language-switcher">
          <a mat-button [routerLink]="'/en'" class="en-link">en</a>
          <span>|</span>
          <a mat-button [routerLink]="'/ru'" class="ru-link">ru</a>
        </div>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
