<div class="page">
  <div class="page-content">
    <mat-toolbar color="primary">
      <span>{{ title }}</span>
    </mat-toolbar>

    <main>
      <router-outlet></router-outlet>
      <app-tasks></app-tasks>
    </main>

    <footer class="footer">
      <div class="footer-content">
        <div class="lang-container" style="float: right">
          <ng-container *ngFor="let lang of translate.getLangs(); let i = index;">
            <span *ngIf="i > 0">|</span>
            <a mat-button routerLink="." (click)="changeLanguage(lang)">{{ lang }}</a>
          </ng-container>
        </div>
      </div>
    </footer>
  </div>
</div>
