.list-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 40px;

  .name-column {
    display: flex;
    align-items: center;
  }

  .menu-trigger-column {
    margin-left: auto;
  }
}
