.tag-list-row {
  justify-content: space-between;
  min-height: 40px;

  .tag-name-form {
    width: 100%;

    mat-form-field {
      width: 100%;
    }
  }

  .name-column {
    display: flex;
    align-items: center;

    span {
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .menu-trigger-column {
    margin-left: auto;
  }
}
