.tag-list-row {
  justify-content: space-between;
  min-height: 40px;

  .name-form {
    width: 100%;

    mat-form-field {
      width: 100%;
    }
  }

  .name-column {
    display: flex;
    align-items: center;
  }

  .menu-trigger-column {
    margin-left: auto;
  }
}
