<mat-card *ngIf="taskFormModel">
  <div class="mat-card-header d-flex flex-row">
    <button mat-icon-button (click)="onBackButtonClick()" aria-label="Back button">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <div class="mat-card-title">
      <form *ngIf="titleEditing">
        <mat-form-field>
          <label>
            <input matInput
                   #title
                   name="title"
                   type="text"
                   [(ngModel)]="taskFormModel.title"
                   (blur)="onTitleInputBlur()"
                   (keydown.enter)="onTitleInputEnterKeydown()"
                   (keydown.escape)="onTitleInputEscapeKeydown()"
                   placeholder="{{ 'title' | translate }}"
                   maxlength="255"
                   required
                   notBlank/>
          </label>
        </mat-form-field>
      </form>

      <span *ngIf="!titleEditing" (click)="onTitleTextClick()" class="title-text">{{ taskFormModel.title }}</span>
    </div>

    <div class="card-header-menu">
      <button mat-icon-button aria-label="Task menu" [matMenuTriggerFor]="taskMenu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #taskMenu="matMenu">
        <button mat-menu-item (click)="onCompleteTaskButtonClick()">
          {{ 'complete' | translate }}
        </button>
        <button mat-menu-item (click)="onDeleteTaskButtonClick()">
          {{ 'delete' | translate }}
        </button>
      </mat-menu>
    </div>
  </div>

  <mat-card-content>
    <form #taskDetailsForm>
      <mat-form-field>
        <label>
          <textarea matInput
                    id="description"
                    name="description"
                    [(ngModel)]="taskFormModel.description"
                    [errorStateMatcher]="errorStateMatchers.get('description')"
                    (blur)="onDescriptionInputBlur()"
                    placeholder="{{ 'description' | translate }}"
                    maxlength="10000">
          </textarea>
        </label>
        <mat-error *ngIf="errorStateMatchers.get('description').errorState">
          {{ getFirstFieldErrorMessage('description') }}
        </mat-error>
      </mat-form-field>

      <div class="deadline-container d-flex flex-row flex-lt-md-column pb-3">
        <div class="d-flex flex-column pb-3">
          <div class="d-flex flex-row">
            <mat-form-field class="deadline-date-form-field mr-3">
              <label>
                <input matInput
                       name="deadlineDate"
                       [(ngModel)]="deadlineDate"
                       [class.color-warn]="taskFormModel.isOverdue()"
                       [matDatepicker]="deadlineDatepicker"
                       [errorStateMatcher]="errorStateMatchers.get('deadlineDate')"
                       (dateChange)="onDeadlineDateInputChange()"
                       placeholder="{{ 'deadline' | translate }}"
                       readonly>
              </label>
              <button mat-button
                      *ngIf="deadlineDate"
                      matSuffix
                      mat-icon-button
                      aria-label="Clear deadline date"
                      (click)="onClearDeadlineDateButtonClick()">
                <mat-icon>close</mat-icon>
              </button>
              <mat-datepicker-toggle matSuffix [for]="deadlineDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #deadlineDatepicker></mat-datepicker>
            </mat-form-field>

            <div class="deadline-time-container">
              <mat-checkbox name="deadlineTimeEnabled"
                            class="deadline-time-checkbox mr-3"
                            [checked]="deadlineTimeEnabled"
                            [disabled]="!deadlineDate"
                            (change)="onDeadlineTimeEnabledCheckboxChange($event)">
              </mat-checkbox>

              <mat-form-field class="deadline-time-form-field mr-3">
                <label>
                  <input matInput
                         name="deadlineTime"
                         [ngxTimepicker]="deadlineTimepicker"
                         [(ngModel)]="deadlineTime"
                         [class.color-warn]="deadlineTimeEnabled && taskFormModel.isOverdue()"
                         [format]="24"
                         [disabled]="!deadlineTimeEnabled"
                         [errorStateMatcher]="errorStateMatchers.get('deadlineTime')"
                         readonly>
                </label>
                <ngx-material-timepicker-toggle matSuffix [for]="deadlineTimepicker">
                  <mat-icon ngxMaterialTimepickerToggleIcon>access_time</mat-icon>
                </ngx-material-timepicker-toggle>
                <ngx-material-timepicker #deadlineTimepicker
                                         [cancelBtnTmpl]="deadlineTimeCancelBtn"
                                         [confirmBtnTmpl]="deadlineTimeConfirmBtn"
                                         (timeSet)="onDeadlineTimeSet($event)">
                </ngx-material-timepicker>
                <ng-template #deadlineTimeCancelBtn>
                  <button mat-raised-button color="primary" class="mr-2 btn-dialog">{{ 'cancel' | translate }}</button>
                </ng-template>
                <ng-template #deadlineTimeConfirmBtn>
                  <button mat-raised-button class="btn-dialog">OK</button>
                </ng-template>
              </mat-form-field>
            </div>
          </div>

          <div class="deadline-error">
            <mat-error *ngIf="errorStateMatchers.get('deadlineDate').errorState
            || errorStateMatchers.get('deadlineTime').errorState">
              {{ getFirstFieldErrorMessage('deadlineDate', 'deadlineTime') }}
            </mat-error>
          </div>
        </div>

        <mat-form-field class="repeat-form-field">
            <mat-label>{{ 'repeat' | translate }}</mat-label>
            <mat-select name="repeatTask" [(ngModel)]="selectedTaskRecurrenceOption"
                        [disabled]="!deadlineDate" (selectionChange)="onTaskRecurrenceOptionSelect()">
              <mat-option>{{ 'never' | translate }}</mat-option>
              <mat-option *ngFor="let recurrenceOption of taskRecurrenceOptions" [value]="recurrenceOption">
                {{ recurrenceOption | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <div class="form-group">
        <div class="form-group-header">
          <div class="form-group-title">
            {{ 'quick_deadlines' | translate }}
          </div>
        </div>

        <div class="form-group-content">
          <button mat-button color="primary" class="pl-2 pr-2 mr-2"
                  (click)="onHotDeadlineButtonClick('today')">
            {{ 'today' | translate }}
          </button>
          <button mat-button color="primary" class="pl-2 pr-2 mr-2"
                  (click)="onHotDeadlineButtonClick('tomorrow')">
            {{ 'tomorrow' | translate }}
          </button>
          <button mat-button color="primary" class="pl-2 pr-2 mr-2"
                  (click)="onHotDeadlineButtonClick('in_week')">
            {{ 'in_week' | translate }}
          </button>
        </div>
      </div>

      <mat-form-field>
        <mat-chip-list #tagList aria-label="Tags">
          <mat-chip *ngFor="let tag of tags"
                    [style.background-color]="tag.color"
                    [style.color]="getTagColorStyle(tag)"
                    (removed)="onTagChipRemoved(tag)">
            {{ tag.name }}
            <mat-icon matChipRemove [style.color]="getTagColorStyle(tag)">cancel</mat-icon>
          </mat-chip>

          <label for="tag_input"></label>
          <input #tagInput id="tag_input" placeholder="{{ 'tags' | translate }}"
                 [matChipInputFor]="tagList"
                 [formControl]="tagControl"
                 [matAutocomplete]="tagAutocomplete"
                 (matChipInputTokenEnd)="onTagInputTokenEnd($event)">
        </mat-chip-list>

        <mat-autocomplete #tagAutocomplete (optionSelected)="onTagOptionSelected($event)">
          <mat-option *ngFor="let tag of filteredTags | async" [value]="tag.name">
            {{ tag.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'task_list' | translate }}</mat-label>
        <mat-select [(ngModel)]="taskFormModel.taskListId" name="taskList" (selectionChange)="onTaskListSelect()">
          <mat-option>-</mat-option>
          <mat-option *ngFor="let taskList of taskLists" [value]="taskList.id">
            {{ taskList.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-divider></mat-divider>

  <div class="mt-2">
    <app-task-comments></app-task-comments>
  </div>
</mat-card>
