@import "src/styles/colors";
@import "src/styles/display";
@import "src/styles/flex";
@import "src/styles/spacing";
@import "src/styles/buttons";

mat-chip {
  font-weight: 600;
}

.deadline-container {
  .deadline-date-form-field {
    max-width: 160px;
  }

  .deadline-time-checkbox {
    color: $color-black-54;
  }

  .deadline-time-form-field {
    max-width: 80px;

    ngx-material-timepicker-toggle {
      position: relative;
      bottom: -4px;

      mat-icon {
        color: $color-black-54;
      }
    }
  }

  .deadline-error {
    margin-top: -1rem;

    mat-error {
      font-size: 75%;
    }
  }
}
