.tag-list-row {
  .name-column {
    display: flex;
    align-items: center;

    span {
      width: 157px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
