<mat-list id="tag_list">
  <mat-list-item *ngFor="let tag of tags"
                 [routerLink]="[translate.currentLang, 'tag', tag.id]"
                 [ngClass]="'tag-' + tag.id"
                 [class.mat-list-item-selected]="isRouterLinkActive('tag/' + tag.id)">
    <mat-icon mat-list-icon [style.color]="tag.color">label</mat-icon>

    <div class="list-row tag-list-row">
      <div class="list-column name-column">
        <span>{{ tag.name }}</span>
      </div>
    </div>
  </mat-list-item>
</mat-list>
