<div class="password-reset-container content-align-center">
  <mat-card class="content-align-center">
    <mat-card-header>
      <mat-card-title>{{ 'password_reset' | translate }}</mat-card-title>
    </mat-card-header>

    <app-alert class="password-reset-alert"></app-alert>

    <mat-card-content>
      <form #passwordResetForm (ngSubmit)="onPasswordResetFormSubmit()">
        <mat-form-field>
          <label>
            <input matInput
                   id="email_input"
                   type="email"
                   name="email"
                   [(ngModel)]="email"
                   placeholder="{{ 'email' | translate }}"
                   required
                   email>
          </label>
        </mat-form-field>

        <div>
          <button mat-raised-button color="primary" type="submit">
            <span>{{ 'submit' | translate }}</span>
          </button>
        </div>
      </form>
    </mat-card-content>

    <mat-card-footer>
      <a [routerLink]="['/', i18nService.currentLanguage.code, 'signin']">{{ 'sign_in' | translate }}</a>
      <span>{{ 'or' | translate }}</span>
      <a [routerLink]="['/', i18nService.currentLanguage.code, 'signup']">{{ 'sign_up' | translate | lowercase }}</a>
    </mat-card-footer>
  </mat-card>
</div>
