.password-reset-container {
  display: flex;

  mat-card {
    display: flex;
    flex-direction: column;
    min-width: 320px;

    form {
      button[type='submit'] {
        margin-top: 16px;
        min-width: 225px;
      }
    }

    .password-reset-alert {
      width: 100%;
      max-width: 352px;
    }

    mat-card-footer {
      margin-bottom: 16px;

      span {
        margin: 0 5px;
      }
    }
  }
}
