form {
  display: flex;
  flex-direction: row;

  mat-form-field {
    flex-grow: 1;
  }
}

.task-list-icon-container {
  .task-list-icon {
    height: 100%;
    line-height: 40px;
    width: 40px;
    text-align: center;
  }
}

.task-list {
  mat-list-item {
    &:hover {
      background: rgba(0, 0, 0, .04)
    }

    mat-checkbox {
      ::ng-deep .mat-checkbox-ripple { // ::ng-deep is deprecated
        display: none;
      }
    }

    .task-list-row {
      cursor: pointer;
    }
  }

  .spinner-container {
    display: flex;
    justify-content: center;
  }
}

mat-list.task-list.cdk-drop-list-dragging mat-list-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
