<mat-card *ngIf="title">
  <div fxLayout="row" class="mat-card-header">
    <div class="mat-card-title">
      <form *ngIf="titleEditing">
        <mat-form-field>
          <label>
            <input matInput
                   #titleInput
                   name="title"
                   type="text"
                   [(ngModel)]="title"
                   (blur)="onTitleInputBlur()"
                   (keydown.enter)="onTitleInputEnterKeydown()"
                   (keydown.escape)="onTitleInputEscapeKeydown()"
                   placeholder="{{ titlePlaceholder | translate }}"
                   [maxlength]="titleMaxLength.toString()"
                   required
                   notBlank/>
          </label>
        </mat-form-field>
      </form>

      <span *ngIf="!titleEditing" (click)="onTitleTextClick()" [style.cursor]="titleReadonly ? 'default' : 'auto'"
            class="title-text">
        {{ title | translate }}
      </span>
    </div>

    <div *ngIf="taskListMenuItems.length > 0" class="card-header-menu">
      <button mat-icon-button aria-label="Task list menu" [matMenuTriggerFor]="taskListMenu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #taskListMenu="matMenu">
        <button *ngFor="let item of taskListMenuItems" mat-menu-item (click)="item.handler()">
          {{ item.name | translate }}
        </button>
      </mat-menu>
    </div>
  </div>

  <form *ngIf="taskFormEnabled" #taskForm="ngForm" (ngSubmit)="onTaskFormSubmit()">
    <mat-form-field>
      <label>
        <input matInput
               type="text"
               name="title"
               [(ngModel)]="taskFormModel.title"
               (ngModelChange)="onTaskFormModelChange()"
               placeholder="{{ 'new_task' | translate }}"
               maxlength="255"
               notBlank>
      </label>
    </mat-form-field>

    <button mat-mini-fab color="primary" type="submit" [disabled]="!taskFormSubmitEnabled">
      <mat-icon>done</mat-icon>
    </button>
  </form>

  <mat-card-content>
    <mat-list class="task-list" infiniteScroll [infiniteScrollDistance]="1" (scrolled)="onTaskListScroll($event)"
              cdkDropList>
      <mat-list-item class="task-list-item" *ngFor="let task of tasks" [ngClass]="'task-' + task.id"
                     (cdkDragEnded)="onTaskListItemDragEnded($event, task)" cdkDrag>
        <div class="drag-handle" cdkDragHandle>
          <mat-icon>drag_indicator</mat-icon>
        </div>

        <div [routerLink]="['/', i18nService.currentLanguage.code, 'task', task.id]" class="list-row task-list-row">
          <div class="list-column title-column">
            <span>{{ task.title }}</span>
          </div>

          <ng-container *ngIf="task.deadline">
            <div *ngIf="!xsQuery.matches else deadlineIcon" class="list-column deadline-column">
              <span [matTooltip]="task.deadline | localizedDate"
                    [class]="task.isOverdue() ? 'color-warn' : 'color-primary'" matTooltipPosition="above">
                {{ task.deadline | localizedRelativeDate }}
              </span>
            </div>

            <ng-template #deadlineIcon>
              <div class="list-column">
                <mat-icon [class]="task.isOverdue() ? 'color-warn' : ''">schedule</mat-icon>
              </div>
            </ng-template>
          </ng-container>
        </div>

        <mat-checkbox (change)="onTaskCompleteCheckboxChange(task)"></mat-checkbox>
      </mat-list-item>

      <div *ngIf=showInlineSpinner class="spinner-container">
        <mat-spinner [diameter]="30"></mat-spinner>
      </div>
    </mat-list>
  </mat-card-content>
</mat-card>
