<mat-nav-list>
  <mat-list>
    <a mat-list-item [routerLink]="['/', translate.currentLang]" [fragment]="TaskGroup.INBOX.value"
       (click)="onListItemClick(TaskGroup.INBOX)"
       [class.mat-list-item-selected]="isTaskGroupSelected(TaskGroup.INBOX)">
      <mat-icon mat-list-icon>inbox</mat-icon>
      <span matLine>{{ 'inbox' | translate }}</span>
    </a>

    <mat-divider></mat-divider>

    <ng-container>
      <h3 matSubheader>{{ 'scheduled_for' | translate }}</h3>

      <a mat-list-item [routerLink]="['/', translate.currentLang]" [fragment]="TaskGroup.TODAY.value"
         (click)="onListItemClick(TaskGroup.TODAY)"
         [class.mat-list-item-selected]="isTaskGroupSelected(TaskGroup.TODAY)">
        <mat-icon mat-list-icon class="mat-date-icon">
          calendar_today
          <span>{{ todayDate }}</span>
        </mat-icon>
        <p matLine>{{ 'scheduled_for_today' | translate }}</p>
      </a>

      <a mat-list-item [routerLink]="['/', translate.currentLang]" [fragment]="TaskGroup.TOMORROW.value"
         (click)="onListItemClick(TaskGroup.TOMORROW)"
         [class.mat-list-item-selected]="isTaskGroupSelected(TaskGroup.TOMORROW)">
        <mat-icon mat-list-icon class="mat-date-icon">
          calendar_today
          <span>{{ tomorrowDate }}</span>
        </mat-icon>
        <p matLine>{{ 'scheduled_for_tomorrow' | translate }}</p>
      </a>

      <a mat-list-item [routerLink]="['/', translate.currentLang]" [fragment]="TaskGroup.WEEK.value"
         (click)="onListItemClick(TaskGroup.WEEK)"
         [class.mat-list-item-selected]="isTaskGroupSelected(TaskGroup.WEEK)">
        <mat-icon mat-list-icon class="mat-date-icon">
          calendar_today
          <span>W</span>
        </mat-icon>
        <p matLine>{{ 'scheduled_for_week' | translate }}</p>
      </a>

      <a mat-list-item [routerLink]="['/', translate.currentLang]" [fragment]="TaskGroup.SOME_DAY.value"
         (click)="onListItemClick(TaskGroup.SOME_DAY)"
         [class.mat-list-item-selected]="isTaskGroupSelected(TaskGroup.SOME_DAY)">
        <mat-icon mat-list-icon class="mat-date-icon">
          calendar_today
          <span>?</span>
        </mat-icon>
        <p matLine>{{ 'scheduled_for_some_day' | translate }}</p>
      </a>
    </ng-container>

    <mat-divider></mat-divider>

    <a mat-list-item [routerLink]="['/', translate.currentLang]" [fragment]="TaskGroup.ALL.value"
       (click)="onListItemClick(TaskGroup.ALL)"
       [class.mat-list-item-selected]="isTaskGroupSelected(TaskGroup.ALL)">
      <mat-icon mat-list-icon>assignment</mat-icon>
      <p matLine>{{ 'all_tasks' | translate }}</p>
    </a>
  </mat-list>
</mat-nav-list>
