@import '~@angular/material/theming';

$palette-primary: mat-palette($mat-indigo, 500);
$palette-accent: mat-palette($mat-pink, A200, A100, A400);
$palette-warn: mat-palette($mat-red);

$color-primary: mat-color($palette-primary);
$color-accent: mat-color($palette-accent);
$color-warn: mat-color($palette-warn);

$color-gray-light: rgba(0, 0, 0, .54);

.color-primary {
  color: $color-primary;
}

.color-primary:disabled {
  color: rgba($color-primary, .38) !important;
}

.color-accent {
  color: $color-accent;
}

.color-accent:disabled {
  color: rgba($color-accent, .38) !important;
}

.color-warn {
  color: $color-warn;
}

.color-warn:disabled {
  color: rgba($color-warn, .38) !important;
}
