@import "~@angular/material/prebuilt-themes/indigo-pink.css"
@import url('https://fonts.googleapis.com/icon?family=Material+Icons')
@import "variables.styl"

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  min-height: 100vh;
  background-color: #f5f5f5;

  .color-primary {
    color: color-primary;
  }

  .color-primary:disabled {
    color: rgba(color-primary, .38) !important;
  }

  .color-accent {
    color: color-accent;
  }

  .color-accent:disabled {
    color: rgba(color-accent, .38) !important;
  }

  .color-warn {
    color: color-warn;
  }

  .color-warn:disabled {
    color: rgba(color-warn, .38) !important;
  }

  form {
    font-size: 16px;
  }

  .mat-micro-fab {
    width: 24px;
    height: 24px;

    .mat-icon {
      font-size: 18px;
      margin-top: -12px;
      margin-left: 3px;
    }
  }

  .form-buttons {
    button {
      min-width: 103px;
      margin-right: 8px;
    }
  }

  .content-align-center {
    justify-content: center;
    align-items: center;
  }

  .cdk-overlay-container {
    .cdk-overlay-pane.mat-datepicker-popup {
      max-height: none;
    }
  }

  .timepicker {
    .timepicker__header {
      background-color: color-primary !important;
    }

    .timepicker__body {
      .clock-face__clock-hand {
        background-color: color-primary !important;

        &::after {
          background-color: color-primary !important;
        }

        &::before {
          border-color: color-primary !important;
        }
      }

      .clock-face__number {
        > span.active {
          background-color: color-primary !important;
        }
      }
    }
  }

  .right-margin-8 {
    margin-right: 8px;
  }

  .right-margin-12 {
    margin-right: 12px;
  }

  mat-nav-list mat-list mat-accordion {
    mat-expansion-panel {
      .mat-expansion-panel-content > .mat-expansion-panel-body {
        padding-right: 0 !important;
      }

      mat-list mat-list-item .mat-list-item-content {
        padding-right: 8px !important;
      }
    }
  }

  .mat-list-item-selected {
    background: rgba(0, 0, 0, .12) !important;
  }

  .non-selectable-list-item {
    background-color: white !important;
    cursor: default !important;
  }

  .list-row {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  color-block {
    .block-body {
      .block-swatches {
        .swatch {
          width: 28px !important;
          height: 28px !important;
        }
      }

      color-editable-input {
        input {
          height: 28px !important;
          font-size: 14px !important;
        }
      }
    }
  }

  mat-card {
    form {
      display: flex;
      flex-direction: column;
    }

    .mat-card-header {
      display: flex;
      flex-direction: row;

      .mat-card-title {
        margin-top: 10px;
        margin-bottom: 15px;
        margin-left: 8px;
        flex-grow: 1;

        form {
          mat-form-field {
            width: 100%;
          }
        }
      }
    }
  }
}
