@import '~@angular/material/theming';

$palette-primary: mat-palette($mat-indigo, 500);
$palette-accent: mat-palette($mat-pink, A200, A100, A400);
$palette-warn: mat-palette($mat-red);

$color-primary: mat-color($palette-primary);
$color-accent: mat-color($palette-accent);
$color-warn: mat-color($palette-warn);

$color-gray-light: rgba(0, 0, 0, .54);
