<div class="account-password-reset-confirmation-container content-align-center">
  <mat-card class="content-align-center">
    <mat-card-header>
      <mat-card-title>{{ 'account_password_reset' | translate }}</mat-card-title>
    </mat-card-header>

    <app-alert class="account-password-reset-confirmation-alert"></app-alert>

    <mat-card-content>
      <app-account-password-change submitButtonLabel="{{ 'submit' | translate }}"
                                   submitButtonMinWidth="225px"
                                   [currentPasswordRequired]="false"
                                   (passwordChange)="onPasswordChange($event)">
      </app-account-password-change>
    </mat-card-content>

    <mat-card-footer>
      <a [routerLink]="['/', i18nService.currentLanguage.code, 'signin']">{{ 'sign_in' | translate }}</a>
      <span>{{ 'or' | translate }}</span>
      <a [routerLink]="['/', i18nService.currentLanguage.code, 'signup']">{{ 'sign_up' | translate | lowercase }}</a>
    </mat-card-footer>
  </mat-card>
</div>
