<mat-card *ngIf="formModel">
  <mat-card-title>
    <form *ngIf="titleEditing">
      <mat-form-field>
        <label>
          <input matInput
                 #title
                 name="title"
                 type="text"
                 [(ngModel)]="formModel.title"
                 (blur)="endTitleEditing()"
                 placeholder="{{ 'title' | translate }}"
                 maxlength="255"
                 required
                 notBlank/>
        </label>
      </mat-form-field>
    </form>

    <span *ngIf="!titleEditing" (click)="beginTitleEditing()">{{ formModel.title }}</span>
  </mat-card-title>

  <mat-card-content class="task-detail-content">
    <form>
      <mat-form-field>
        <label>
          <textarea matInput
                    id="description"
                    name="description"
                    [(ngModel)]="formModel.description"
                    (blur)="saveTask()"
                    placeholder="{{ 'description' | translate }}"
                    maxlength="10000">
          </textarea>
        </label>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions [align]="'end'">
    <a mat-button [routerLink]="'/'">{{ 'back' | translate }}</a>
  </mat-card-actions>
</mat-card>
